<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table border="2" >
  <thead>
    <tr >
   
      <th >Name</th>
     <th >email</th>
      <th >Phone</th>
      <th >Message</th> 
    </tr>
  </thead>
  <tbody>
    <tr th:each="s :${shop}">
     
      <td th:text="${s.name}"></td>
       <td th:text="${s.email}"></td>
      <td th:text="${s.phone}"></td>
      <td th:text="${s.message}"></td>
      
    </tr>
   
  </tbody>
</table>
</body>
</html>